body{
    font-family: Arial;
    background:#f5e6d3;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.box{
    background:white;
    padding:30px;
    border-radius:10px;
    width:350px;
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

input,textarea{
    width:100%;
    margin-top:10px;
    padding:8px;
}

button{
    margin-top:15px;
    width:100%;
    padding:10px;
    background:#c89f72;
    border:none;
    color:white;
    cursor:pointer;
}

#result{
    margin-top:15px;
    word-break:break-all;
}